body {

    background-color:#2ed573;
   
}

header{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#description{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

form{
background: white;
max-width: 450px;
margin:40px auto;
box-shadow:2px 5px 10px rgb(0,0,0,0.4);
border-radius: 2px;
padding: 30px 20px;
font-size: 20px;
line-height: 1.8;

}


#name{

    display:block;
    width: 100%;
    text-align: left;
}


#email{

    display:block;
    width: 100%;
}

#number{

    display:block;
    width: 100%;
}
#Occupation{

    display:block;
    width: 100%;
}
#hobbies{
padding-top: 20px;
    
    
}

#Comments{

    display:block;
    width: 100%;
}


#button{

    display:block;
    width: 100%;
    background-color: #2ed573;
    font-size: 20px;
}


#title{
    margin-bottom:0;
}

#description{
    margin-top: 0;
    font-weight: bold;
}





